params {
    work_dir                = "$PWD"
    pheno                   = "PhenoS"
    scripts                 = "${params.work_dir}/scripts"
    linear                  = 1
    logistic                = 0
    fisher                  = 0
    gemma                   = 1
    fastlmm                 = 1
    fastlmm_multi           = 1
    boltlmm                 = 1
    input_dir               = "${params.work_dir}/plkfile/"
    input_pat               = "1000G.h3aPos.1.vcf"
    data                    = "Chr1Test/simul/1000G.h3aPos.1.vcf.ms.1.pheno.pheno"
    covariates              = ""
    bolt_covariates_type   = ""
    bolt_num_cores  =  15
    bolt_mem_req = "15G"
    plink_mem_req ="15G"
    big_time = "100h"
}


