params {
    work_dir                = "/$PWD"
//    input_dir               = "/home/jeantristan/Travail/GWAS/ZoneTest/CompareSoftware/Data_Test/awigen_few/"
    //output_dir              = "${params.work_dir}/nonormalisation"
    scripts                 = "${params.work_dir}/scripts"
//    input_pat               = "awigen-qc_0.025"
    linear                  = 1
    logistic                = 0
    fisher                  = 0
    //need to fix problem sex before to use
    gemma                   = 1
    fastlmm                 = 0
    fastlmm_multi           = 0
    boltlmm                 = 0
    ph_nb_qtl               =  5
    ph_list_qtl            = "0.1,0.3,0.1,0.2,0.2"
    ph_alpha_lim            = "0.05,0.000001,0.00000137,0.05,0.02"
    ph_nb_sim              = 5
    num_cores  =  8
}


